################ config ################

.vscode

################# google test include #################

include

############ google test lib ############

lib

############ executable & object file ############

*.exe
*.h.gch
*.o
test_main
main

############ else ############

*.png